{
	"useTabs": true,
	"singleAttributePerLine": true,
	"importOrder": [
		"^@core/(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^@server/(.*)$",
		"^@ui/(.*)$",
    "^@/components/(.*)$",
    "^@images/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
